<div class="chat-header">
  <div class="chat-group">
    <div class="header-title">
      hogefuga
    </div>
  </div>
  <div class="chat-end">
    <div class="end-btn">
      <a href="">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="messages">
</div>

<div class="form">
</div>